.cardDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: #9eebcf;
    border-radius: 7px;
    padding: 1rem;
    margin : 0.5rem;
    transition: transform .35s; 
}

.dN{
    display: none;
}

.card:hover{
    transform: scale(1.05);
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: sans-serif;
    font-size: 1.6rem;
}

p{
    text-align: center;
}

.image{
    align-self: center;
}