
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: 400;
    src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}


.heading{
    text-align: center;
}
.headerName{
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
    font-size: 3.25rem;
}